@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<body class="">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
   

   
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center bg-white ">

    <div class="container">
      <div class="row">
        <div class="col-lg-4 d-flex flex-column justify-content-center noto-sans brand">
          <h1>FrontEnd Dev</h1>
          <h2>Jamie Law</h2>
          
        </div>

        <div class="col-lg-8 d-flex flex-column justify-content-center">
            <div class="card shadow p-3 my-5 bg-white rounded">
                <div class="card-body align-items-center mx-auto p5">
                            <i class="fa-solid fa-hammer fa-5x text-info"></i>

                            

                </div>
                <hr>
            </div>
        </div>
      
        </div>
      </div>
    </div>

  </section><!-- End Hero -->


</body>